In [1]:
import pandas as pd

In [2]:
add = lambda value: value+10

In [4]:
data = {"A": [5, 1, 3], 
        "B": [8, 5, 2], 
        "C": [3, 4, 1]}

df = pd.DataFrame(data)

In [16]:
x = df.apply(add)
print(x)

    A   B   C
0  15  18  13
1  11  15  14
2  13  12  11

In [10]:
uppercase = lambda value: value.upper()

In [11]:
data2 = {"Name": ["Sally", "Mary", "John"],
         "City": ["London", "Tokyo", "Madrid"]}

df2 = pd.DataFrame(data2)

In [12]:
x2 = df2.applymap(uppercase)
print(x2)

    Name    City
0  SALLY  LONDON
1   MARY   TOKYO
2   JOHN  MADRID

In [108]:
lowercase = lambda value: value.lower()

In [109]:
a = ["Hello World", "Jack William"]

for i in a:
    abc = i.split(" ")
    for j in abc:
        j.lower()
        
        for k in range()

SyntaxError: expected ':' (3967010183.py, line 8)

In [110]:
def capitalise_words(values):
    values_list = []
    for i in values:
        values_list.append(i)
    values_capitalised = []
    for i in values_list:
        words = i.split(" ")
        for j in range(len(words)):
            words[j] = words[j].capitalize()

        value = " ".join(words)
        values_capitalised.append(value)
    values = values_capitalised[:]
    return values

In [117]:
data3 = {"Sr. no.": ["1", "2", "3", "4", "5"], 
         "Roll. no": ["121", "122", "123", "124", "125"], 
         "Name": ["Jack Williams", "NITA MODI", "Tina dabi", "Srushti Pawar", "MARTIN DEN"], 
         "mail Id": ["jack@gmail.com", "NITA@gmail.com", "tina@gmail.com", "SRUSHTI@gmail.com", "martin@gmail.com"], 
         "City": ["Pune", "MUMBAI", "Delhi", "BANGALORE", "HYDERABAD"]}

df3 = pd.DataFrame(data3)
print(df3)

  Sr. no. Roll. no           Name            mail Id       City
0       1      121  Jack Williams     jack@gmail.com       Pune
1       2      122      NITA MODI     NITA@gmail.com     MUMBAI
2       3      123      Tina dabi     tina@gmail.com      Delhi
3       4      124  Srushti Pawar  SRUSHTI@gmail.com  BANGALORE
4       5      125     MARTIN DEN   martin@gmail.com  HYDERABAD

In [118]:
df3["Name"] = capitalise_words(df3["Name"])
df3["City"] = capitalise_words(df3["City"])
df3["mail Id"] = df3["mail Id"].apply(lowercase)
print(df3)

  Sr. no. Roll. no           Name            mail Id       City
0       1      121  Jack Williams     jack@gmail.com       Pune
1       2      122      Nita Modi     nita@gmail.com     Mumbai
2       3      123      Tina Dabi     tina@gmail.com      Delhi
3       4      124  Srushti Pawar  srushti@gmail.com  Bangalore
4       5      125     Martin Den   martin@gmail.com  Hyderabad

In [52]:
print(type(df3["Name"]))

<class 'pandas.core.series.Series'>